// Custom to BitStrappier
//
// Global Styles Specific to this App
//
// For example:
// * WP-specific things
// * perhaps also BG images (particularly when used across all devices)
//
// NOTE: 	Media queried less files are set up for various sized viewports
// 				So use this one for global things
//


/* ==========================================================================
   Base
   ========================================================================== */

body {

}

/* =============================================================================
   Site Header, Banner, and Nav
   ========================================================================== */

#banner {

}

// Make space for WP Admin-Bar for logged-in users
body.admin-bar .navbar-fixed-top {
	top: 28px;
}


/* ==========================================================================
   Pages, Posts, and Sidebars
   ========================================================================== */

#content { // Includes page, post, and sidebar content

	#main { // the content of full-width pages
					// and the main column in pages with sidebars

		#main-inner { // this div adds white space in BitStrappier
			@media (min-width: 768px) {
				margin-right: 24px;
			}

			p { // normal p's -- p.byline is specified below
				font-size: 16px;
				line-height: 1.6;
				margin: 24px 0;
			}

			.hentry {
				header { // contains heading, time, and byline
					margin-bottom: 20px;

					time, // date posted
					p.byline { // author's name
						font-size: 12px;
						line-height: 1.2;
						color: #676767;
						margin: 0;
						padding: 0;
					}
				}
				.entry-content { // main article content

				}
				footer { // article footer info

				}
			} // /.hentry

		} // /#main-inner

	} // /#main

	#sidebar {

	}

} // /#content


/* ==========================================================================
   Site Footer
   ========================================================================== */

#content-info {

}

/* ==========================================================================
   WordPress Generated Classes
   See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
   ========================================================================== */

.aligncenter { display: block; margin: 20px auto; }
.alignleft { float: left; margin: 20px 20px 20px 0;}
.alignright { float: right; margin: 20px 0 20px 20px;}
figure.alignnone { margin: 20px; }

